# Collab Cloud configuration
# Your Tiptap Collab Cloud "App ID", see https://cloud.tiptap.dev/apps
NEXT_PUBLIC_TIPTAP_COLLAB_APP_ID=

# Your Tiptap Collab Cloud "App Secret", see https://cloud.tiptap.dev/apps/settings
TIPTAP_COLLAB_SECRET=

# The document prefix for your Tiptap Collab Cloud documents
NEXT_PUBLIC_COLLAB_DOC_PREFIX=doc_
